ai_chat002.json
{
  "name": "AI Customer Support with Order Negotiation",
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get user message from webhook\nconst item = $input.first().json;\nconst userMessage = item.body?.chatInput || item.body?.message || '';\nconst sessionId = item.headers?.['x-session-id'] || `SESS_${Date.now()}_${Math.random().toString(36).substring(2, 10)}`;\n\nreturn [{\n  json: {\n    userMessage: userMessage,\n    sessionId: sessionId,\n    timestamp: new Date().toISOString(),\n    negotiationCount: 0\n  }\n}];"
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a sales assistant for 'Tasty Bites Pizza'. Your job is to take orders and handle negotiations.\n\nMENU:\n- Pepperoni Pizza: $15.99\n- Margherita Pizza: $13.99\n- Veggie Pizza: $14.99\n- Cheese Pizza: $12.99\n\nNEGOTIATION RULES:\n- First price objection: Offer 10% discount\n- Second price objection: Offer 15% discount (maximum)\n- Never exceed 15% discount\n\nCOLLECT: For orders, get product name, quantity, customer name, phone, address\n\nOUTPUT RULES:\n- For normal chat: Plain text only\n- For confirmed order: ORDER_CONFIRMED|Product:X|Quantity:Y|Name:Z|Phone:W|Address:V|Total:$T\n- For cancellation: CANCELLED|Reason:R\n- For negotiation: NEGOTIATION|Discount:D|NewPrice:P\n\nKeep responses short and friendly."
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        }
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.message?.content || '';\n\nlet intent = 'general';\nlet status = 'pending';\nlet product = '';\nlet quantity = '';\nlet customerName = '';\nlet phone = '';\nlet address = '';\nlet orderData = {};\nlet cleanedReply = aiResponse;\n\n// Check for ORDER_CONFIRMED\nif (aiResponse.includes('ORDER_CONFIRMED')) {\n  intent = 'order';\n  status = 'confirmed';\n  \n  const productMatch = aiResponse.match(/Product:([^|]+)/);\n  const quantityMatch = aiResponse.match(/Quantity:([^|]+)/);\n  const nameMatch = aiResponse.match(/Name:([^|]+)/);\n  const phoneMatch = aiResponse.match(/Phone:([^|]+)/);\n  const addressMatch = aiResponse.match(/Address:([^|]+)/);\n  \n  product = productMatch ? productMatch[1].trim() : '';\n  quantity = quantityMatch ? quantityMatch[1].trim() : '';\n  customerName = nameMatch ? nameMatch[1].trim() : '';\n  phone = phoneMatch ? phoneMatch[1].trim() : '';\n  address = addressMatch ? addressMatch[1].trim() : '';\n  \n  orderData = { product, quantity, customerName, phone, address };\n  cleanedReply = aiResponse.replace(/ORDER_CONFIRMED\\|.*/, '').trim();\n}\n// Check for CANCELLED\nelse if (aiResponse.includes('CANCELLED')) {\n  intent = 'cancel';\n  status = 'cancelled';\n  const reasonMatch = aiResponse.match(/Reason:([^|]+)/);\n  orderData = { reason: reasonMatch ? reasonMatch[1].trim() : 'User cancelled' };\n  cleanedReply = aiResponse.replace(/CANCELLED\\|.*/, '').trim();\n}\n// Check for NEGOTIATION\nelse if (aiResponse.includes('NEGOTIATION')) {\n  intent = 'negotiation';\n  status = 'negotiating';\n  cleanedReply = aiResponse.replace(/NEGOTIATION\\|.*/, '').trim();\n}\n// Check for booking\nelse if (aiResponse.toLowerCase().includes('book') || aiResponse.toLowerCase().includes('appointment')) {\n  intent = 'booking';\n}\n\n// Clean the response\ncleanedReply = cleanedReply.replace(/[*_#`]/g, '').replace(/\\s+/g, ' ').trim();\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    aiReply: aiResponse,\n    cleanedReply: cleanedReply || aiResponse,\n    intent: intent,\n    status: status,\n    product: product,\n    quantity: quantity,\n    customerName: customerName,\n    phone: phone,\n    address: address,\n    orderData: JSON.stringify(orderData)\n  }\n}];"
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "order"
            }
          ]
        }
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Order Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "negotiation"
            }
          ]
        }
      },
      "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Negotiation Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "cancel"
            }
          ]
        }
      },
      "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Cancel Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": "Sheet1",
        "columns": "Timestamp,SessionID,UserMessage,AIReply,Intent,Status,Product,Quantity,Name,Phone,Address,OrderData",
        "dataMode": "defineBelow",
        "fieldsToSend": {
          "values": [
            {
              "fieldName": "Timestamp",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldName": "SessionID",
              "fieldValue": "={{ $json.sessionId }}"
            },
            {
              "fieldName": "UserMessage",
              "fieldValue": "={{ $json.userMessage }}"
            },
            {
              "fieldName": "AIReply",
              "fieldValue": "={{ $json.cleanedReply }}"
            },
            {
              "fieldName": "Intent",
              "fieldValue": "={{ $json.intent }}"
            },
            {
              "fieldName": "Status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldName": "Product",
              "fieldValue": "={{ $json.product }}"
            },
            {
              "fieldName": "Quantity",
              "fieldValue": "={{ $json.quantity }}"
            },
            {
              "fieldName": "Name",
              "fieldValue": "={{ $json.customerName }}"
            },
            {
              "fieldName": "Phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldName": "Address",
              "fieldValue": "={{ $json.address }}"
            },
            {
              "fieldName": "OrderData",
              "fieldValue": "={{ $json.orderData }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = {\n  reply: $json.cleanedReply || $json.aiReply || 'Processing complete',\n  intent: $json.intent || 'general',\n  status: $json.status || 'completed',\n  sessionId: $json.sessionId\n};\n\nreturn [{ json: response }];"
      },
      "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0d1e2f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Order Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Negotiation Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Router": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negotiation Router": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Router": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 1
}
